@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(62, 42, 2);
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

footer {
  font-size: 64px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  footer {
    font-size: 42px;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

.buttonBlock {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
.buttonBlock__button {
  background-color: rgb(193, 191, 191);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
}
.buttonBlock__button:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

h1 {
  text-align: center;
  background-color: rgb(223, 188, 72);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.card {
  width: 20rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.card__title {
  text-align: center;
}
.card__picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.card__picture__menu {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: rgb(155, 154, 154);
  opacity: 0.9;
  transition: all 0.5s;
}
.card__picture__menu__link {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  gap: 1rem;
}
.card__picture__menu__link__icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.2s;
}
.card__picture__menu__link__icon:hover {
  filter: invert(9%) sepia(94%) saturate(6202%) hue-rotate(2deg) brightness(103%) contrast(112%);
}
.card__picture:hover .card__picture__menu {
  bottom: 0;
  height: 6rem;
  margin: auto;
}
.card__genre {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card__genre__type {
  background-color: rgb(193, 191, 191);
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card__genre__type:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}
.card__cast {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card__cast__title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.card__release {
  color: rgb(130, 130, 130);
}

.card__picture__menu__link {
  display: flex;
}

footer {
  font-size: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 20rem;
  background-color: rgb(130, 130, 130);
}

.footerLink {
  text-transform: uppercase;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: rgb(223, 188, 72);
  transition: all 0.2s;
}
.footerLink:hover {
  color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(62, 42, 2);
}/*# sourceMappingURL=style.css.map */