@import "__reset.scss";
@import "__fontStyle.scss";
@import "__variables.scss";

h1 {
    text-align:center;
    background-color: $titleBackground;
    width:fit-content;
    border-radius : 2rem;
    margin : auto;
    margin-top : 2rem;
    margin-bottom : 1rem;
    padding : 1rem 2rem 1rem 2rem;
    
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:$bodyBackground;
}

main{
    display : flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap : 1rem;
    margin-left:1.5rem;
    margin-right:1.5rem;
    
}

.card{
    width : 20rem;
    background-color: $cardBackground;
    border-radius: 2rem;
    padding : 1rem;

    &__title{
        text-align: center;
    }
    &__picture{
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        height:28rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &__genre{
        display:flex;
        gap:1rem;
        margin-bottom: 1rem;
        &__type{
            background-color: $genreBackground;
            border-radius: 2rem;
            padding:0.5rem 1rem 0.5rem 1rem;
        }
        &__type:hover{
            background-color:$genreHoverBackground;
            cursor:pointer;
        }
    }
    &__cast{
        margin-bottom: 1rem;
    }
}